If:
  PathMatch: tests/.*\.c
CompileFlags:
  Add:
    - -std=c17
    - -Wall
    - -Wextra
    - -pedantic
    - -D_POSIX_C_SOURCE=200809L
    - -I/Volumes/a-ssd/CODE/nutsloop/neonsignal/neonsignal.nutsloop.com.jsx/tools/phosphor/include
    - -I/Volumes/a-ssd/CODE/nutsloop/neonsignal/neonsignal.nutsloop.com.jsx/tools/phosphor/build/ceedling/vendor/unity/src
    - -I/Volumes/a-ssd/CODE/nutsloop/neonsignal/neonsignal.nutsloop.com.jsx/tools/phosphor/build/ceedling/vendor/cmock/src
    - "-DTEST_SOURCE_FILE(x)="
